/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color : var(--black);
    margin : 0;
}

:root {
   /*Colors*/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white : #FFF;
    --black : #000;

    /*Polices*/
    --header-font-size : 22px;
    --title-font-size : 18px;
    --card-title-font-size : 16px;
    --card-text-font-size : 14px;
    --text-font-size : 16px;

    --header-font-style : normal;
    --title-font-style : normal;
    --card-title-font-style : normal;
    --card-text-font-style : normal;
    --text-font-style : normal;

    --header-font-weight : 700;
    --title-font-weight : 700;
    --card-title-font-weight : 700;
    --card-text-font-weight : 400;
    --text-font-weight : 400;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: var(--header-font-size);
    font-style : var(--header-font-style);
    font-weight: var(--header-font-weight);
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: var(--card-title-font-size);
    font-style : var(--card-title-font-style);
    font-weight: var(--card-title-font-weight);
}

.euro {
    font-weight: 600;
    font-size: 14px;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** En-tête ***********/
header {
    display : flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding : 14px 0;
}

.header__logo {
    width : 61px;
    height : 19px;
    padding : 15px 0;

}

.header__link {
    font-size : 16px;
    font-weight : 400;
    padding-top : 12px;
    margin-left : 68px;
}

.header__link:hover {
    border-top: solid 2px var(--main-color);
    color : var(--main-color);
}


/****** Présentation ***********/
.presentation {
    margin : 30px 0;
}

.presentation__title {
    margin-bottom : 8px;
    font-size : var(--header-font-size);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
}

.presentation__text {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    font-style: var(--text-font-style);
}


/****** Formulaire ***********/
.form {
    margin : 35px 0;
    display : flex;
    flex-direction: row;
    justify-content: start;
}


.form__location {
    width: 14px;
    height : 19px;
    padding : 15px 18px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#form__search {
    padding : 10px;
    font-size : var(--title-font-size);
    font-weight : var(--title-font-weight);
    font-style : var(--title-font-style);
    border : solid 2px var(--main-bg-color);
}

::placeholder {
    color : black;
    text-align : center;
}

.form__button {
    background-color: var(--main-color);
    padding : 14px 16px;
    font-size : var(--title-font-size);
    font-weight : var(--title-font-weight);
    font-style : var(--title-font-style);
    color : var(--white);
    border : none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.form__button-mobile {
    display : none;
}


/****** Filtres ***********/
.filter {
    display : flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin : 35px 0;
}

.filter__title {
    font-size : var(--title-font-size);
    font-weight : var(--title-font-weight);
    font-style : var(--title-font-style);
}

.filter__direction {
    display : flex;
    flex-direction: row;
}

.filter__direction--row {
    display : flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.filter__button {
    font-size : var(--text-font-size);
    font-weight : var(--title-font-weight);
    font-style : var(--text-font-style);
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border : 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding : 10px 20px;
    background-color: var(--white);
    margin-left : 15px;
    cursor: pointer;
}

.filter__button__image {
    height : 22px;
    margin-right : 10px;
}

.filter__button:hover {
    background-color: var(--filter-bg-color);
}


/****** Information ***********/
.info {
    display : flex;
    flex-direction : row;
    justify-content: start;
    align-items: center;
    margin : 35px 0;
}

.info__image {
    width : 4px;
    height : 10px;
    padding : 7px 10px;
    border : 2px solid var(--main-bg-color);
    border-radius : 25px;
    margin-right : 10px;
}

.info__text {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    font-style: var(--text-font-style);
}


/****** Hebergements et Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width : 100%;
}

.hebergements-cards a {
    width : 30%;
}

.hebergements-cards img {
    height : 124px;
    width: 100%;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
}

.hebergements-cards .card-content {
    padding : 4px 15px 15px 15px;
}

.hebergements-cards .card-subtitle {
    padding : 8px 0;
}

.hebergements__more {
    padding-top : 30px;
    font-size : var(--title-font-size);
    font-weight: var(--title-font-weight);
    font-style: var(--title-font-style);
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/
.activites {
    margin-top : 35px;
    padding : 30px;
}

.activites_cards {
    width: 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top : 30px;
}

.activites_cards a {
    width: 23%;
}

.activites_cards .card {
    padding : 0;
}

.activites_cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites_cards .card-content {
    padding : 20px 19px;
    display : flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}


/****** Pied de page ***********/
footer {
    margin-top : 35px;
    background-color: var(--main-bg-color);
    display : flex;
    flex-direction: row;
    width: 100%;
}

.footer__section {
    padding : 20px 20px 5px 20px;
    display : flex;
    flex-direction: column;
    width: 33%;
}

.footer__section__title {
    padding-bottom : 15px;
    font-size: var(--title-font-size);
    font-weight : var(--title-font-weight);
    font-style : var(--title-font-style);
}

.footer__section__link {
    padding-bottom : 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter {
        flex-direction: column;
        align-items: start;
    }

    .filter__direction {
        margin-top : 20px;
    }

    .filter__button {
        margin-left : 0;
        margin-right: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites_cards img {
        height: 200px;
    }
    
    .activites_cards .card-content {
        height : 40px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}